:root {
    --back-color: #0088FF; /* skyblue */
    --h1-text-color: #FF4500; /* darkorange */
    --h2-text-color: #663399; /* rebeccapurple */
    --numberDisplay-text-color: chartreuse; 
}

body {
    background-color: var(--back-color);
}

h1 {
    color: var(--h1-text-color);
}

h2 {
    color: var(--h2-text-color)
}

.numberDisplay {
    color: var(--numberDisplay-text-color);
    font-size: larger;
    font-weight: 300;
}